  <form action="#" onsubmit="setDirections(this.from.value, this.to.value, 'fr'); return false">
  <table>

   <tr><th align="right">Depuis:&nbsp;</th>

   <td><input type="text" size="25" id="fromAddress" name="from"
     value="San Francisco"/></td>
   <th align="right">&nbsp;&nbsp;Vers:&nbsp;</th>
   <td align="right"><input type="text" size="25" id="toAddress" name="to"
     value="Mountain View" /></td></tr>

   <tr>
    <input name="submit" type="submit" value="Calculer itinéraire" />

   </td></tr>
   </table>
  </form>

  <form action="#" onsubmit="add_dir(); return false">
    <input name="submit2" type="submit" value="Enregistrer itinéraire" />
  </form>

{% extends "gmap_main.html" %}